# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
ENV/

# Python Testing / Cache
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/


# ==============================
# VS Code
# ==============================
.vscode/
*.code-workspace


# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example


# ==============================
# Windows
# ==============================
Thumbs.db
desktop.ini


# ==============================
# Excel Temporary Files
# ==============================
~$*.xlsx
~$*.xls
~$*.xlsm


# ==============================
# Power BI Temporary Files
# ==============================
*.pbi/
*.tmp


# ==============================
# Logs
# ==============================
*.log
